* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 120vh;
    background-image: url(./assets/tictacPhoto.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    // color: rgb(30, 30, 90); achei essa melhor
}

#gameContainer {
    color: rgb(0, 0, 0);
    // color: rgb(93, 41, 237); achei essa melhor
    padding: 110px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}


//add msc last